Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/__ExternalActors__/Maps/Test/4/6W/FX4KNRWN5ECL9A9UYKMOL4.uasset
Content/__ExternalActors__/Maps/Test/9/0M/4GHQ9N9AQSEKFL27R5XKIQ.uasset
Content/__ExternalActors__/Maps/Test/4/6W/FX4KNRWN5ECL9A9UYKMOL4.uasset
